@charset "utf-8";

/**
* CSS for the IHO DCDB 
* H. McCullough - March 2015 
*/

.tab-content {
	margin-top: 40px;
}

a.access-data {
	border: none;
	background: #0F5CA0;
	color: #f2f2f2;
	padding: 16px;
	font-size: 16px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}

a.contribute-data {
	border: none;
	background: #888;
	color: #f2f2f2;
	padding: 10px;
	font-size: 16px;
	border-radius: 5px;
	position: relative;
	box-sizing: border-box;
	transition: all 500ms ease;
}

a.access-data:hover, a.contribute-data:hover {
	background: rgba(0, 0, 0, 0);
	color: #0F5CA0;
	box-shadow: inset 0 0 0 3px #0F5CA0;
}

#pillmenu a:hover {
	background-color: transparent;
}

#whitebox_m {
	background-color: #eee;
	background: none;
}

div.nopad {
	width: auto;
}

#tab-content p {
	margin-bottom: 10px;
}

/* Footer Fix */

* {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
